In [1]:
# Draw functions on pubblication dataset
# x=years, y=#new_authors
# x=years, y=#new_pubblication

In [2]:
import itertools
import random
import json
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from pathlib import Path 
import sys
import threading
import os
from IPython.display import clear_output

In [3]:
## Computer science authors in France
collaboration_df = pd.read_csv('myDATA/00-collaboration_df.csv')
collaboration_df

,ID,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
12908,8958327900,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,6508297663,0,0,0,0,0,0,0,0,0,...,4,7,7,8,8,8,8,8,8,8
103257,34571759000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,5,5,5,5
25815,7004267341,0,0,0,0,0,0,0,0,0,...,10,10,10,16,16,16,16,16,16,16
64536,8642393600,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,7,7,7,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12222,6507630481,0,0,0,0,0,0,0,0,0,...,18,18,18,18,18,29,29,29,29,29
193310,24577815500,0,0,0,0,0,0,0,0,0,...,4,4,4,4,6,13,16,16,16,70
36974,57195243976,0,0,0,0,0,0,0,0,0,...,0,3,3,3,3,3,3,3,8,8
12243,35328962100,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,2,2,2,2,3
37024,7403521415,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,29,29,29

In [4]:
## retrieve the pubblication data(not collaborations)
file = '/home/leonardo/Desktop/PFE/Data/requested_data_on_authors.json'
d = json.load(open(Path(file)))

In [5]:
# Build a pandas dataframe from it
publications_df = pd.DataFrame.from_dict(d, orient='index')

In [6]:
# format it as callaboration_df
publications_df = publications_df.reset_index()
publications_df = publications_df.rename(columns={"index": "ID"})
publications_df['ID'] = publications_df['ID'].astype(int)
publications_df

,ID,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,6506347257,2,1,0,0,0,1,0,1,0,...,0,2,2,0,2,4,1,2,1,1
1,7004677448,4,3,3,2,4,2,8,6,9,...,2,3,1,4,1,0,5,24,4,2
2,7006017348,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,6701832230,4,2,2,2,7,2,8,10,6,...,4,9,12,6,7,6,0,4,2,0
4,6602960720,2,2,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2207652,35230577900,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2207653,7401673355,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2207654,57196046249,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
2207655,57194089994,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2207656,57193775775,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1